body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdfdfd;
    color: #4c4c50;
}

header {
    background-color: #3d546b;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header h1{
    margin: 0px;
    font-size: 2.5em;/* Los rem son una unidad de medida respecto a las medidas de los padres*/
}

header p{
    margin: 8px 0 0;
    font-size: 1em;
    color: #a9d1ec;
}

main {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}

section {
    background-color: #cee3f1;
    border-radius: 8px;
    padding: 20px;
    margin: 0 0 20px;
}
ul {
    list-style: none;
    padding: 0;
}

ul li{
    background-color: aliceblue;
    margin: 6px 0;
    padding: 10px;
    border-radius: 4px;
}

a{
    text-decoration: none;
    color: #3d546b;
}

a:hover{
    text-decoration: underline;
    color: #216686;
}

#btn-saludar{
    margin-top: 12px;
    padding: 10px 24px;
    background-color: #a9d1ec;
    color: #4c4c50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
#btn-saludar:hover{
    background-color: #3d546b;
    color: aliceblue;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #3d546b;
    font-size: 0.8em;
    color: #a9d1ec;
}